






<!-- =========================
     Start FUN FACTS
============================== 


    <section class="fun_facts parallax">
        <div class="section_overlay">
            <div class="container wow bounceInLeft" data-wow-duration="1s">
                <div class="row text-center">
                    <div class="col-md-3">
                        <div class="single_fun_facts">
                            <i class="pe-7s-cloud-download"></i>
                            <h2><span  class="counter_num">699</span> <span>+</span></h2>
                            <p>REVIEWS</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single_fun_facts">
                            <i class="pe-7s-look"></i>
                            <h2><span  class="counter_num">1999</span> <span>+</span></h2>
                            <p>Likes</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single_fun_facts">
                            <i class="pe-7s-comment"></i>
                            <h2><span  class="counter_num">199</span> <span>+</span></h2>
                            <p>Feedbacks</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single_fun_facts">
                            <i class="pe-7s-cup"></i>
                            <h2><span  class="counter_num">10</span> <span>+</span></h2>
                            <p>MEMBERS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    -->

    
<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="about">

            <!-- =========================
             START CALL TO ACTION
         ============================== -->
            <div class="call_to_action">
                <div class="container">
                    <div class="row wow fadeInLeftBig" data-wow-duration="1s">
                        <div class="col-md-9">
                            <p>This is a book club founded by a group Vietnamese students in Seoul. 
                            <br>We love reading history and want to build 
                            <br> <font color="#f39c12">"a comprehensive, yet enjoyable, booklist on Vietnam history in the last 100 years".</font> </p>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary btn-action" href="{{site.contact_urls.facebook}}" role="button">Join our quest</a>
                        </div>
                    </div>
                </div>
            </div>

          <!--  END CALL TO ACTION -->

            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 wow fadeInBig" data-wow-duration="1s">
                        <!-- APPS SCREEN TITLE -->
                        <div class="section_title">
                            <h2>Reading List</h2>
                            <p>Those are books that we are reading. Do you have any recommendation for us?</p>
                            <p align="center"><a class="btn btn-primary btn-action" href="{{site.contact_urls.mail}}" role="button">Contact us</a>   </p>                        
                        </div>
                        <!-- END APPS SCREEN TITLE -->
                    </div>
                </div>
            </div>

        <div class="screen_slider">
            <div id="demo" class="wow bounceInRight" data-wow-duration="1s">
                <div id="owl-demo" class="owl-carousel">

                    <!-- APPS SCREEN IMAGES -->
                    <div class="item">
                    <a href="img/books/pre1900Xu.jpg" rel="prettyPhoto[pp_gal]"><img src="img/books/pre1900Xu.jpg" width="60" alt="Xứ Đông Dương" /></a>
                    </div>
                    <div class="item">
                        <a href="img/books/vietnamahistory.jpg" rel="prettyPhoto[pp_gal]"><img src="img/books/vietnamahistory.jpg" width="60" alt="Vietnam: A history"  /></a>
                    </div>
                    <div class="item">
                        <a href="img/books/pre1986Sympathizer.jpg" rel="prettyPhoto[pp_gal]"><img src="img/books/pre1986Sympathizer.jpg" width="60" alt="The Sympathizer" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- ENS APPS SCREEN -->






    <!-- END FUN FACTS -->